.shopSection {
    color: #1a1a1a;
    font-family: 'Poppins';
    background-color: white;

}

.foodSection {
    margin: 70px;
    margin-top: 70px;
    
}

.foodCards {
    display: flex;
    max-width: 100%;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0px;
    font-family: 'Poppins';
    margin-top: -30px;
    
}


.titleSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -20px;
}
.productSection, .productItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    color: #1a1a1a;
}

.productItem {
    gap: 10px;
}


.product {
    font-size: 25px;
    color: #1D8B37;
}

/* General styles */

.buttonRd {
  border-radius: 8px;
  padding: 3px 20px; /* vertical and horizontal padding */
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 16px;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}