@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}


@font-face {
  font-family: 'PoppinsB';
  src: url(assets/fonts/poppins/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: 'Poppins';
  src: url(assets/fonts/poppins/Poppins-Medium.ttf);
<<<<<<<<< Temporary merge branch 1
}

@font-face {
  font-family: 'PoppinsR';
  src: url(assets/fonts/poppins/Poppins-Regular.ttf);
}

