.admin-navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #256C36;
  width: 300px;
  height: 100vh;
  padding-right: 0px;
  box-sizing: border-box;
}

.admin-navbar-logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 48px 0 32px 0;
}

.admin-navbar-logo {
  width: 179.4375px;
  height: 64.40625px;
}

.admin-navbar-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.admin-navbar-menu li {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 0 12px 36px;
  color: #f7f5ef;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  border-radius: 24px 0 0 24px;
  margin-bottom: 4px;
}

.admin-navbar-menu a {
  color: #f7f5ef;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  height: 100%;
  padding: 12px 0 12px 32px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  border-radius: 24px 0 0 24px;
  transition: background 0.2s, color 0.2s;
}

.admin-navbar-menu a.active,
.admin-navbar-menu a:hover {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.01));
  color: #e0e0e0;
}

.admin-navbar-icon {
  font-size: 20px;
}

.admin-navbar-logout {
  display: flex;
  align-items: center;
  gap: 12px;
  background: #216130;
  color: #f7f5ef;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  padding: 20px 20px 20px 66px;
  cursor: pointer;
  transition: color 0.2s;
}

.admin-navbar-logout:hover {
  background: #23502e;
}
